<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
</head>
<body>
  <h1>Welcome to My Home Page</h1>
  <p>Here are some pages you can visit:</p>
  <ul>
    <li><a href="/tasks/all">Tasks Page</a></li>
    <li><a href="/tasks/friday">Friday Page</a></li>
  </ul>
</body>
</html>
